<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="348f0d35-f150-42d8-baf7-62d93eda80ae"
    Publisher="CN=49152"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="348f0d35-f150-42d8-baf7-62d93eda80ae" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>BookingApp</DisplayName>
    <PublisherDisplayName>49152</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="BookingApp.App">
      <uap:VisualElements
        DisplayName="BookingApp"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="BookingApp"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="privateNetworkClientServer"/>
    <uap:Capability Name="enterpriseAuthentication"/>
    <uap:Capability Name="userAccountInformation"/>
    <Capability Name="internetClient"/>
    <Capability Name="internetClientServer"/>
    <uap:Capability Name="picturesLibrary"/>
  </Capabilities>
</Package>